# Ignore heavy or generated folders
.next
node_modules
coverage
prisma/generated/
.swc/
dist/
build/

# Ignore build artifacts
**/*.tsbuildinfo
next-env.d.ts

# Ignore snapshots if any
**/__snapshots__/
